.header{
    border-bottom: 1px solid rgba(44, 43, 43, 0.295);
    background-color:purple;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#directoryIcon{
    cursor: pointer;
}
.title{
    font-size: 22px;
    font-family: 'Product Sans',Arial,sans-serif;
    cursor: pointer; 
    color: white 
}
.btn{
    background: transparent;
    border: transparent;
    padding: 7px;
    cursor: pointer;
}
.btn1{
    margin-left: 70vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.space{
    margin-left: 20px
}
.slider{
  cursor: pointer;
  margin-top: 7px !important;
  margin-left: 20px;
}
.imgs{
  margin-left: 100px;
  margin-right: 5px;
}
.cartIcon{
  margin-left:12px
}